<div>
	<div class="page-header">Project</div>
	<div class="section">
		<div class="header3">Project Detail</div>
		<div class="content-section">
			<span class="label-category">{{projectName}}</span>
		</div>
	</div>

	<!-- <div class="section">
		<div class="header3">Project Description</div>
		<div class="content-section">{{projectDescription}}</div>
	</div> -->

	<div class="section">
		<div class="header3">Finding Summary</div>
		<div class="content-section">
			<div>Total finding : {{totalFinding}}</div>
			<div>Total fixed finding : {{totalFixedFinding}}</div>
			<div>Total closed finding : {{totalClosedFinding}}</div>
		</div>
	</div>
</div>
