<style>
	* {
		font-family: sans-serif;
	}

	div,
	span {
		margin-top: 0.5rem;
	}

	body {
		margin: 1rem;
	}

	.desc-container {
		background-color: red;
	}

	.header1 {
		font-size: 2.5rem;
	}

	.header2 {
		font-size: 1.5rem;
	}

	.header3 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.page-header {
		font-size: 1rem;
		color: #696969;
	}

	.label-category {
		width: 10rem;
		font-weight: bold;
	}

	.section {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.content-section {
		padding-left: 0.5rem;
		background-color: white;
		border: 1px solid #cccccc;
		padding: 1rem 1.5rem;
		border-radius: 0.25rem;
	}

	.evidence {
		display: -webkit-flex;
		-webkit-align-items: flex-start;
		background-color: white;
		border: 1px solid #cccccc;
		padding: 1rem;
		align-items: flex-start;
	}

	.image-evidence {
		width: 20rem;
		object-fit: cover;
	}

	.desc-evidence {
		margin-left: 1rem;
	}

	td {
		vertical-align: top;
	}
</style>
